.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.nav {
  display: flex;
  align-items: center;
}

.nav li {
  list-style: none;
  margin-right: 20px;
}

.nav a {
  color: #666;
  text-decoration: none;
}

button {
  background-color: #d84a38;
  border: none;
  border-radius: 2px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 0.8em;
  margin: 0 0 1em 0;
  padding: 0.5em 0.7em 0.6em 0.7em;
}

button:active {
  background-color: #cf402f;
}

button:hover {
  background-color: #cf402f;
}

button[disabled] {
  color: #ccc;
}

button[disabled]:hover {
  background-color: #d84a38;
}

.video-list {
  display: flex;
}

.video-list video,
.video-list .video {
  background: none;
  height: auto;
  width: auto;
}

.video-list canvas {
  /* width: 220px; */
}

.btns {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.btns button {
  margin-right: 20px;
}

.select .audio-input, 
.select .audio-output, 
.select .video-source {
  text-align: left;
  padding: 5px 0;
} 

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
